<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background_image: url(Cheerios.png);
  margin: 0;
  font-family: Futura, Imago, sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #AA6CD9;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #11d;
  color: black;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 50px;
  height: 1000px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #AA6CD9;
  padding: 50px;
}
</style>
</head>
